.storyPanel{
  padding: 20px;
  border: 1px black solid;
}

.choices {
  border: 1px black solid;
}

.question {
  padding-left: 20px;
}

a {
  text-decoration: none;
  display: block;
  padding: 5px;
}

ul {
  padding-left: 20px;
  display: flex;
  list-style-type: none;
}

li {
  margin: 5px;
  border: 1px black solid;
  transition: 0.2s ease;
}

li:hover {
  box-shadow: 5px 5px 10px grey;
}
