Out of complete paranoia, you decide to email Julia and Jess simultaneously
about this peculiar event. Their emails, juliacabrales@google.com
and jetorres@google.com, have proven to be very reliable in the past.
<p>After sending them both an email, yet not receiving any email within minutes,
you sit there, thinking. Should you go inside the car, or, ignore it?
<ul>
  <li><a href="/jumpin">Jump in the car</a></li>
  <li><a href="/run">Run!</a></li>
  <li><a href="/ignoreit">Ignore it and keep walking</a></li>
</ul>
