<!DOCTYPE html>
<title>Run!!!</title>

You turn and start to run accross Google Campus. The car door closes and
it seems to pull away from the sidewalk.
<p>You keep running as fast as you can and get the the other side of
campus in record time.
<p>Suddenly the same car pulls up around a corner and the door swings open
  in front of you again.

<p> What do you do?</p>
<ul>
  <li><a href="/jumpincar">Jump in the car!</a></li>
  <li><a href="/runc">Run!!!</a></li>
  <li><a href="/contactcssi">Contact your CSSI site leads</a></li>
  <li><a href="/ignorecar">Ignore it and keep walking</a></li>
</ul>
