<!DOCTYPE html>
<title>Run!!!</title>

You turn and start to run accross Google Campus. The car door closes and
it seems to pull away from the sidewalk.
<p>You keep running as fast as you can and get the the other side of
campus in record time.
<p>Suddenly the same car pulls up around a corner and the door swings open
  in front of you again.

<p>You start to wonder: How is the car following you?
<p>You remember that earlier at lunch, someone had bumped into you briefly.
  You check your pocket and find a usb drive with a tracking device.

<p> What do you do?</p>
<ul>
  <li><a href="/openusb">Open the USB with your laptop</a></li>
  <li><a href="/crushusb">Crush the USB.</a></li>
</ul>
