<!DOCTYPE html>
<title>start</title>
<p>You and a fellow CSSI student were having lunch at the
cafe. You leave, and take a walk before going back
to class. </p>

<p>As you pass the corner, a self-driving car approaches
and stops next to you. No one is inside. The door opens. </p>

<p> What do you do?</p>
<ul>
  <li><a href="/jumpincar">Jump in the car!</a></li>
  <li><a href="/run">Run!!!</a></li>
  <li><a href="/contactcssi">Contact your CSSI site leads</a></li>
  <li><a href="/ignorecar">Ignore it and keep walking</a></li>
</ul>
